<!-- Header -->
{{> header }}

{{> searchform }}

<!-- main-content -->

<section>
    <div class="container">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <h3>{{message "lang.contact-info"}}</h3>

            <p class="lead">{{message "lang.contact-info-preamble"}}</p>

            <p>{{message "lang.contact-info-email-preamble"}} <a href="mailto:project@yorubaname.com">project@yorubaname.com</a></p>
            <p>{{message "lang.contact-info-contact-preamble"}}<br>
                2nd Floor, The Garnet Building<br>
                Lekki - Epe Express Road, Lekki<br>
                Lagos 101245<br>
                Nigeria
            </p>

            <p class="lead">{{message "lang.social-media"}}</p>
            <nav class="social-links">
                <a href="https://facebook.com/YorubaNames" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/YorubaNames" target="_blank"><i class="fa fa-twitter"></i></a>
            </nav>

        </div>
    </div>
</section>


<!-- /main-content -->

<!-- footer -->
{{> footer }}