<div class="container">
  <div class="footer">
  	<p class="pull-left">Copyright &copy; 2015. YorubaName.com</p>
    <p class="pull-right"><a href="#">{{message "lang.home"}}</a> | <a href="#">{{message "lang.about"}}</a> | <a href="#">{{message "lang.donate"}}</a> | <a href="#">{{message "lang.volunteer"}}</a> | <a href="#">{{message "lang.blog"}}</a> | <a href="#">{{message "lang.contact"}}</a></p>
  </div>
</div>
   
   
<!-- /body -->
<script src="assets/js/jquery-2.1.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/jquery.keyboard.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/jquery.mousewheel.js"></script>
<script src="assets/js/jquery.keyboard.extension-altkeyspopup.js"></script>
</body>
</html>