<div class="container">
  <div class="footer">
  	<p class="pull-left">Copyright &copy; 2015. YorubaName.com</p>
    <p class="pull-right"><a href="#">{{message "lang.home"}}</a> | <a href="#">{{message "lang.about"}}</a> | <a href="#">{{message "lang.donate"}}</a> | <a href="#">{{message "lang.volunteer"}}</a> | <a href="#">{{message "lang.blog"}}</a> | <a href="#">{{message "lang.contact"}}</a></p>
  </div>
</div>
   
   
<!-- /body -->

</body>
</html>