<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <meta name="description" content="{{#if name.name}}{{name.name}} - {{name.meaning}}{{else}}YorubaNames{{/if}}">

    <meta property="og:title" content="{{#if name.name}}{{name.name}}{{else}}YorubaNames{{/if}}">
    <meta property="og:url" content="{{#if name.name}}http://{{host}}/entries/{{name.name}}{{else}}http://www.yorubaname.com{{/if}}">
    <meta property="og:description" content="{{#if name.meaning}}{{name.meaning}}{{else}}Over 10,000 Yoruba names and still growing...{{/if}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/assets/img/yd-logo-brown-black-beta.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="YorubaNames">
    <meta name="twitter:url" content="http://www.yorubaname.com">
    <meta name="twitter:description" content="Over 10,000 Yoruba names and still growing...">
    <meta name="twitter:site" content="@Yorubanames">
    <meta name="twitter:creator" content="@Yorubanames">
    <meta name="twitter:image" content="/assets/img/yd-logo-brown-black-beta.png">

    <link href="/assets/img/favicon.png" rel="shortcut icon">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/assets/css/keyboard.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/overwrite.css" rel="stylesheet">
    <link href="/assets/css/multiple-select.css" rel="stylesheet">
    <link href="http://fast.fonts.net/cssapi/6dc70f84-e724-4068-9f7a-797b1bf01ddb.css" rel="stylesheet">
    <link href="/assets/css/styles.css" rel="stylesheet">

    <title>{{ title }}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{> scriptIncludes }}

</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=539763726423959&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<!-- Header -->
    <header>
    	<div class="container">

            <div class="navbar-brand"><a href="/"><img class="logo" src="/assets/img/yd-logo-brown-black-beta.png" alt="YorubaName.com" title="YorubaName.com"></a></div>

            <div id="layout-nav" class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                                           
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul id="lang-group" class="lang-toggle nav nav-tabs navbar-right">
                        <li id="en"><a href="?lang=en" target="_self">EN</a></li>
                        <li id="yo"><a href="?lang=yo">YOR</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">   
                        <li><a href="/">{{message "lang.home"}}</a></li>
                        <li><a href="/about-us">{{message "lang.about"}}</a></li>
                        <li><a href="/volunteer">{{message "lang.volunteer"}}</a></li>
                        <li><a href="https://www.indiegogo.com/projects/the-yoruba-names-dictionary#/story" target="_blank">{{message "lang.donate"}}</a></li>
                        <li><a href="http://blog.yorubaname.com" target="_blank">{{message "lang.blog"}}</a></li>
                        <li><a href="/contact-us">{{message "lang.contact"}}</a></li>
                    </ul>
                </div>
            </div>
   		</div>
   </header>
   <!-- /header -->



