<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to YorubaName</title>
<meta name="generator" content="YorubaName" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="assets/img/favicon.ico" rel="shortcut icon">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link href="assets/css/styles.css" rel="stylesheet">
<link href="assets/css/jquery-ui.min.css" rel="stylesheet">
<link href="assets/css/keyboard.css" rel="stylesheet">
<link href="assets/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<title>{{ title }}</title>


</head>

<body>
	<!-- Header -->
    <div class="header">
    	<div class="container">
            <div id="layout-nav" class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h2><a class="logo" href="http://www.yorubaname.com"><img src="assets/img/yoruba-dictionary-logo.png"  alt="YorubaName.com" title="YorubaName.com" /></a></h2>
                </div>                           
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-right">                                                                
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle lang" data-toggle="dropdown"><i class="fa fa-list sec-color"></i> Menu<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">{{message "lang.home"}}</a></li>
                                    <li><a href="#">{{message "lang.about"}}</a></li>
                                    <li><a href="#">{{message "lang.donate"}}</a></li>
                                    <li><a href="#">{{message "lang.volunteer"}}</a></li>
                                    <li><a href="#">{{message "lang.blog"}}</a></li>
                                    <li><a href="#">{{message "lang.logreg"}}</a></li>
                                    <li><a href="#">{{message "lang.contact"}}</a></li>
                                </ul>
                        </li>
                        
                        <!--Disabling the drop down till we support another language
                        <li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle lang" data-toggle="dropdown"><i class="fa fa-globe sec-color"></i> {{message "lang.language"}}<b class="caret"></b></a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a href="#">Yorùbá</a></li>-->
                                    <!--<li><a href="#">Igbo</a></li>-->
                                    <!--<li><a href="#">Hausa</a></li>                                    -->
                                    <!--<li><a href="#">English</a></li>-->
                                    <!--<li><a href="#">Français</a></li>-->
                                <!--</ul>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>                    
   		</div>
   </div>
   <!-- /header -->



