<!-- Header -->
{{> header }}

<section id="searchform">
    <div class="jumbotron" id="home-banner">
       <div class="container">
       		<h1>{{message "lang.jumbotron1"}} <span>10,000</span> {{message "lang.jumbotron2"}}</h1>
       		
            {{> searchcomponent }}
            
            <h3>{{message "lang.jumboh31"}}</h3>
            <a href="/submitname" class="btn btn-lg btn-link">{{message "lang.jumboh32"}}</a>
       </div>
    </div>
</section>
<!-- /search -->

<section>
    <div class="container">
		
    	<div class="llm row">
        	<div class="col-sm-4">              	
                <ul>
                    <li><h5>{{message "lang.latest-search"}}</h5></li>
                    <hr />
                    {{#each latestSearches}}
                        <li><a href="/entries/{{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li><h5>{{message "lang.latest-add"}}</h5></li>
                    <hr />
                    {{#each latestAdditions}}
                        <li><a href="/entries/{{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-4">
            	<ul>
                    <li><h5>{{message "lang.most-popular"}}</h5></li>
                    <hr />
                    {{#each mostPopular}}
                        <li><a href="/entries/{{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        
    </div>
    <!-- /llm -->

    <div class="container">
    	
            <div class="row">
                
                <div class="col-sm-4">
            		<h3>{{message "lang.name-of-day"}}</h3>
                    <hr />
                    <h4><a href="/entries/Baratimileyi">Baratimileyi</a></h4>
                    <p>Baratimileyi is name i made up when i went to buy mango. I don't even know hoe the remote found itself in the pot, but i think if you call me tomorrow i could tell you who won. Nawaooo you get time to read this rubbish. </p>
                    <a href="/entries/Baratimileyi">Read more</a>
            	</div>

                <div class="col-sm-4">
                    <h3>{{message "lang.name-of-day"}}</h3>
                    <hr />
                    <h4>Baratimileyi</h4>
                    <p>Baratimileyi is name i made up when i went to buy mango. I don't even know hoe the remote found itself in the pot, but i think if you call me tomorrow i could tell you who won. Nawaooo you get time to read this rubbish. </p>

                </div>

                <div class="col-sm-4">
                    <h3>{{message "lang.name-of-day"}}</h3>
                    <hr />
                    <h4>Baratimileyi</h4>
                    <p>Baratimileyi is name i made up when i went to buy mango. I don't even know hoe the remote found itself in the pot, but i think if you call me tomorrow i could tell you who won. Nawaooo you get time to read this rubbish.</p>
                </div>
                                      
            </div>

            <div class="row">
                <div class="col-sm-12 text-center"><h3>Our key supporters</h3></div>
                <div class="col-sm-2"><img class="img-responsive" src="http://placehold.it/350x150"></div>
                <div class="col-sm-2"><img class="img-responsive" src="http://placehold.it/350x150"></div>
                <div class="col-sm-2"><img class="img-responsive" src="http://placehold.it/350x150"></div>
                <div class="col-sm-2"><img class="img-responsive" src="http://placehold.it/350x150"></div>
                <div class="col-sm-2"><img class="img-responsive" src="http://placehold.it/350x150"></div>
                <div class="col-sm-2"><img class="img-responsive" src="http://placehold.it/350x150"></div>
            </div>

            <div class="row" style="margin-top:40px">
                <div class="col-sm-4"><img class="img-responsive" src="http://placehold.it/350x150"></div>
                <div class="col-sm-4"><img class="img-responsive" src="http://placehold.it/350x150"></div>
                <div class="col-sm-4">
                    <form method="post" class="subscribe">
                        <h4>YorubaName Newsletter</h4>
                        <p>Get the latest entries and meanings of the most famous and not-so-famous Yoruba names.</p>
                        <div class="form-group">
                            <input type="email" placeholder="Enter your email here" class="form-control">
                            <button class="btn btn-success"><i class="fa fa-send"></i></button>
                        </div>
                    </form>
                </div>
            </div>
    </div>

</section>

<!-- sidebar -->
<!--aside>
    <div class="col-sm-4">
        {{> rsidebar }}
    </div>
</aside--> 
<!-- /sidebar -->  

<!-- footer -->
{{> footer }}