<!-- Header -->
{{> header }}

<!-- main-content -->
<div class="jumbotron" id="home-banner">
   <div class="container" align="center">
   		<h1>{{message "lang.jumbotron1"}} <span class="y-color">10,000</span> {{message "lang.jumbotron2"}}</h1>
   		<form class="form-horizontal" role="form">
            <div class="search-input" id="search-tph">             			
                <input type="text" class="form-control th this-query" id="keyboard" name="searchname" placeholder="{{message "lang.search-plchol"}}" autocomplete="off" spellcheck="false">
                <i class="fa fa-keyboard-o" id="keyboardp" data-toggle="tooltip" data-placement="top" title="{{message "lang.kybtitle"}}"></i>
                <!-- <p class="jtext"><a href="#"><i class="fa fa-search-plus"> {{message "lang.adv-search"}} </i></a></p> -->
                <button class="btn btn-search" type="button"><i class="fa fa-search"></i></button>
            </div><br /><!-- /input-group -->                
        </form>
        
        <h3>{{message "lang.jumboh31"}} <br /> <a href="#">{{message "lang.jumboh32"}}</a></h3>
   </div>
</div>
<!-- /search -->

<div class="container">
		<div class="llm">
    	<div class="row">
        	<div class="col-xs-6 col-sm-4 llm-box">              	
                <ul>
                    <li><h5 class="pri-color">{{message "lang.latest-search"}}</h5></li>
                    <hr />
                    {{#each latestSearches}}
                        <li><a href="/entries/{{this.name}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 llm-box">
                <ul>
                    <li><h5 class="pri-color">{{message "lang.latest-add"}}</h5></li>
                    <hr />
                    {{#each latestAdditions}}
                        <li><a href="/entries/{{this.name}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4 llm-box">
            	<ul>
                    <li><h5 class="pri-color">{{message "lang.most-popular"}}</h5></li>
                    <hr />
                    {{#each mostPopular}}
                        <li><a href="/entries/{{this.name}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /llm -->

<div class="container">
		<div class="main-content">
        <div class="row">
            <div class="col-xs-10 col-sm-8 h-box">
        		<h3>{{message "lang.name-of-day"}}</h3>
                <hr />
                <h4>Baratimileyi</h4>
                <p>Baratimileyi is name i made up when i went to buy mango. I don't even know hoe the remote found itself in the pot, but i think if you call me tomorrow i could tell you who won. Nawaooo you get time to read this rubbish. </p>
        	</div>
            <div class="col-xs-6 col-md-3">
        		<div class="side-bar"><a href="#"><img src="assets/img/volunteer.png" alt="Volunteer your time &amp; skills" title="Volunteer" /></a></div>
                <div class="side-bar"><a href="#"><img src="assets/img/submit-name.png" alt="Submit a name" title="Submit a name" /></a></div>
        	</div>                         
        </div>
    </div>
</div>   
<!-- /main-content -->

<!-- footer -->
{{> footer }}