<!-- Header -->
{{> header }}

{{> searchform }}

<!-- main-content -->
<section id="content">
    <div class="container">
        <div class="row">
            <main>
                <div class="col-md-8">

                    <h4>{{message "lang.entryfoundfor"}}<span class="name">{{query}}</span></h4>

                        {{#each names}}
                        <div class="well">
                            <h4 class="name">Name: <a href="/entries/{{this.name}}">{{ this.name }}</a></h4>
                            <p><i>Brief meaning: </i> {{this.meaning}} </p>
                            <p class="small">{{message "lang.submitby"}} {{ this.submittedBy }} </p>       
                            <hr>
                        </div>
                        {{/each}}
                </div>
            </main>
            <!-- sidebar -->
            <aside>
                <div class="col-md-4">
                    {{> rsidebar }}
                </div>
            </aside>
            <!-- /sidebar -->

        </div>
    </div>
</section>

<!-- /main-content -->

<!-- footer -->
{{> footer }}