<!DOCTYPE html>
<html lang="en">

<head>
 {{> header }}
    <title>{{ title }}</title>
</head>

<body>
<div class="wrapper">
{{ title }}
    <br/>

    <h4>This page shows the listing for a name </h4>
    id: {{ name.id }}<br/>
    name: {{ name.name }}<br/>
    submitted by: {{ name.submittedBy }}<br/>
</div>
<!-- Javascript -->
{{> scriptIncludes }}

</body>
</html>