
<form id="suggest-form">

	<div class="form-group">
        <label class="required">{{message "lang.submitname.entername"}}</label>
	    <p class="small sec-color">{{message "lang.entry-not-found.minikeyb-text"}}        
	    {{> minisearchcomponent }}
    </div><br>

    <div class="form-group">
        <label class="optional">{{message "lang.submitname.entermeaning"}}:</label>
        <textarea name="suggestedMeaning" id="suggestedMeaning" class="form-control" rows="3" required="true"></textarea>
    </div><br>

    <div class="form-group">
        <label class="optional">{{message "lang.submitname.enterlocation"}}:</label>
        <select name="suggestedGeoLocation" id="suggestedGeoLocation" class="form-control" required="true">
            {{#each geoLocations}}
                <option>{{this.place}}</option>
            {{/each}}
        </select>
    </div><br>

    <!--Uncomment when TTS is implemented<div class="form-group">-->
    <!--<label class="optonal">Please help us pronounce the new name:</label>-->
    <!--<input type="file" id="pronunciation">-->
    <!--</div>-->

    <div class="form-group">
        <label class="required">{{message "lang.submitname.enteremail"}}:</label>
        <input type="email" name="suggestedEmail" class="form-control" id="suggestedEmail" placeholder="Your email" required="true">
    </div>

    <button type="submit" id="submit-name" class="btn btn-success">Submit new name</button>
</form>