<!DOCTYPE html>
<html lang="en">

<head>
 {{> headHtml }}
</head>

<body>
<div class="wrapper">
    Welcome to {{appName}}. <br/>

    When locale is en_Us --> {{i18n "lang.welcome"}} <br/>
    When locale is Yoruba --> {{i18n "lang.welcome" bundle="messages_yo_NG"}} <br/>
    When locale is Igbo --> {{i18n "lang.welcome" bundle="messages_ig_NG"}} <br/>
    When locale is Hausa --> {{i18n "lang.welcome" bundle="messages_hs_NG"}} <br/>
    When locale is French --> {{i18n "lang.welcome" bundle="messages_fr"}}
</div>
<!-- Javascript -->
{{> scriptIncludes }}
</body>
</html>